<footer>
    <p>Created by : {{name}}</p>
    <ul class="list-unstyled list-inline social text-center" style="color: #888888">
        <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/kaushik-moralwar-a51a23230/">
                <span style="color: #474747">
                    <i class="fab fa-linkedin-in"></i>
                </span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://twitter.com/KaushikMoralwar" class="kaushik">
                <span style="color: #474747">
                    <i class="fab fa-twitter"></i>
                </span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://github.com/kaushik0703" class="kaushik">
                <span style="color: #474747">
                    <i class="fab fa-github"></i>
                </span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://www.instagram.com/iamkaushikmoralwar/" class="kaushik">
                <span style="color: #474747">
                    <i class="fab fa-instagram "></i>
                </span>
            </a>
        </li>
    </ul>
</footer>